<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestPractice1.Initialization()[pri:0, instance:Test_App.TestPractice1@21a947fe]">Initialization</td> 
  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>6</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterClass()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:52</td>   <td>-3</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestPractice1.afterMethod()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>-2</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:52</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestPractice1.afterMethod()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>5</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestBase.afterMethod(org.testng.ITestResult)[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:53</td>   <td>1248</td> <td>&nbsp;</td><td title="&lt;&lt;TestPractice1.afterTest()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>-120</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Test_App.TestPractice1@21a947fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:52</td>   <td>-113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPractice1.beforeMethod()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>-1</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestBase.beforeMethod(java.lang.reflect.Method)[pri:0, instance:Test_App.TestPractice1@21a947fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:52</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestPractice1.beforeMethod()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="97c064">  <td>17/11/09 20:21:14</td>   <td>-37434</td> <td>&nbsp;</td><td title="&gt;&gt;TestPractice1.beforeTest()[pri:0, instance:Test_App.TestPractice1@21a947fe]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@878274034</td>   <td></td> </tr>
<tr bgcolor="e9a889">  <td>17/11/09 20:21:52</td>   <td>-112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestBase.f()[pri:0, instance:Test_App.TestPractice1@21a947fe]">f</td> 
  <td>main@878274034</td>   <td></td> </tr>
</table>
