<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="fb9ab6">  <td>17/09/29 14:40:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Parameterization_Gmail.ParameterGmailTest(java.lang.String, java.lang.String)[pri:0, instance:Test_App.Parameterization_Gmail@61832929]">ParameterGmailTest</td> 
  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/09/29 14:40:27</td>   <td>4850</td> <td>&nbsp;</td><td title="&lt;&lt;Parameterization_Gmail.afterTest()[pri:0, instance:Test_App.Parameterization_Gmail@61832929]">&lt;&lt;afterTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
<tr bgcolor="fb9ab6">  <td>17/09/29 14:40:13</td>   <td>-9505</td> <td>&nbsp;</td><td title="&gt;&gt;Parameterization_Gmail.beforeTest()[pri:0, instance:Test_App.Parameterization_Gmail@61832929]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1694556038</td>   <td></td> </tr>
</table>
