<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e8a876">  <td>17/09/28 12:56:25</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;MetTest1.Initialization()[pri:0, instance:Test_App.MetTest1@4501b7af]">&gt;&gt;Initialization</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/09/28 12:56:37</td>   <td>12129</td> <td>&nbsp;</td><td title="&lt;&lt;MetTest1.LogoutApp()[pri:0, instance:Test_App.MetTest1@4501b7af]">&lt;&lt;LogoutApp</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/09/28 12:56:35</td>   <td>10198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;MetTest1.beforeMethod()[pri:0, instance:Test_App.MetTest1@4501b7af]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td>  <td>main@655381473</td>   <td></td> </tr>
<tr bgcolor="e8a876">  <td>17/09/28 12:56:35</td>   <td>10198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="MetTest1.f()[pri:0, instance:Test_App.MetTest1@4501b7af]">f</td> 
  <td>main@655381473</td>   <td></td> </tr>
</table>
